# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Vim cache
*.swp
*.swo
*.swn

# Jupyter Notebook
.ipynb_checkpoints

# Environments
env/

# Pycharm
.idea/

# Resources
references/
weights/
saved_models/
dataset/
cache/
results/
logs/
temp.h5
